<section>
	<div class="container-fluid mb-3">
	<div class="row">
		{{ asset:image_of_salon }}<div class="col-md-6 salonimg" style="background-image: url('{{ url }}');">{{ /asset:image_of_salon }}
		</div>
		<div class="col-md-6 p-md-5 text-center my-3 my-lg-5 my-md-0">
			<h2 class="mb-0">{{ site_name }}</h2>
			<p>{{ address }}</p>
			
			<p><strong>Phone</strong> <a href="tel:{{ phone }}">{{ phone }}</a> </p>
			<p><a href="{{ directions_url }}" target="_blank"><i class="fa fa-map-marker" aria-hidden="true"></i> Get Directions</a></p> 
			
			{{ if display_announcement }}<div class="bg-maroongradient text-white w-75 text-center p-4 mx-auto mt-4">
			
			<p class="mb-0 mb-0"><strong>{{ announcement_heading }}</strong></p>
			{{ announcement_text }}
				
</div> {{ endif }}
		</div>
	</div>
	</div>
</section>

<section class="bg-tan py-md-5">
	<div class="container-fluid py-5 ">
		<div class="container">
		<h2 class="text-center">{{ directions_heading }}</h2>
		<p>{{ directions_description }}</p>
  <div class="map-responsive my-5 map-border">
{{ google_map_code }}	</div>		
		
		</div>
	</div>
</section>

{{ form:set is="contact" }}
{{ form:create in="contact" redirect="/contact#contactform" error_redirect="contact#contactform" }}
<section id="contactform" class="mb-5">
<div class="container-fluid p-md-5 mt-n5">
	
		<div class="container">
			
				<div class="row">
					<div class="col-md-10 mx-auto">
			
					<div class="row mt-5 mt-md-3">
						<div class="col-12">
							<div class="text-center mb-5 w-border mx-auto">
								<div class="site-section-heading mb-3">
								<h2 class="text-center w-md-50 mx-auto pt-3 pt-lg-4">Get in Touch</h2></div>
								{{ form_description }}
							</div>
								

							
							{{ if {form:success} }}
			
							
							<div class="alert mt-0 mb-5 my-md-5" style="color:black;">
								<p class="maroon text-center p-3">Thank you, we'll be in touch soon.</p>
							</div>
							
							</div>
						</div>
					</div>
				</div>
			</div>
						{{ else }}
					
							{{ if {form:errors} }}
							
							<div class="alert alert-danger p-md-3 mb-5 my-md-5">
								{{ form:errors }}
								<strong>{{ value }}</strong>
								{{ /form:errors }}
								<br>
								</div>
								{{ /if }}
							  
						</div>
					</div>
		
		
		
		
		
			
		<div class="row mt-md-3">
			<div class="col-12">
				<div class="form-group">
					<label>Name</label>
					<input type="text" name="name" value="{{ old:name }}" class="form-control" />
				</div>
			</div>
		</div>
		<div class="row mt-md-3">
			<div class="col-12 col-md-6">
				<div class="form-group">
					<label>Email*</label>
					<input type="text" name="email" value="{{ old:email }}" class="form-control" />
				</div>
			</div>
			<div class="col-12 col-md-6">
				<div class="form-group">
					<label>Phone*</label>
					<input type="text" name="phone" value="{{ old:phone }}" class="form-control" />
				</div>
			</div>
		</div>
		
		<div class="row mt-md-3">
			<div class="col-12">
				<div class="form-group">
					<div class="form-group">
			            <label>Reason for Contacting Us</label><br/>
			              <select name="reason_for_email" style="width:100%;height:3.0rem;color:#333;">
			                <option>Request Appointment</option>
			                <option>General Question</option>
			              </select>
			            </div>
            </div>
			</div>
		</div>
            
		<div class="row mt-md-3">

			<div class="col col-12">
				<div class="form-group">
					<label>Message*</label>
					<textarea name="message" class="form-control" cols="30" rows="5">{{ old:message }}</textarea>	
				</div>
				<input type="text" name="honeypot" class="honeypot" />
				
				
			</div>
		</div>
		<div class="row">
			<div class="col-12 col-md-4 mx-auto my-4"><span class="d-flex justify-content-center">{{ recaptcha }}</span></div>
		</div>
		<div class="row">
			<div class="col-4 mx-auto text-center">
				<button class="btn btn-dark">
					Submit
				</button>
			</div>
		</div>
		

</div>




	
	




</div>
</div></div>
</section>
{{ /if }}
{{ /form:create }}
{{ /form:set }}

