<div class="container my-3 my-md-5">
    <h1>{{ title }} Announcement </h1>
    <hr/>
   
   <div class="mb-5 pt-3">
   	
  {{ content_main }}

            
				{{ text }}
            

                <p>
                    <img src="{{ photo }}" class="img-fluid" alt="{{ caption }}">
                </p>
                
              
            {{ /content_main }}
{{ if slug == "covid19" }}<div class="text-center pb-3"><p>Thanks for your consideration and loyalty. We're looking forward to seeing you!</p><h3>-- <i class="fa fa-heart"></i> --<br/> Toni's Stylists</h3></div>{{ /if }} </div>
</div>
