<div class="homepagebg-image page-holder bg-cover border-bottom">
	<div class="row d-flex">
		<div class="col-lg-6 col-md-7 text-center text-md-right hairtext pt-2 pt-md-0">
			
			{{ assets:headline }}<img src="{{ url }}" class="w-75 mt-5 pt-3 pt-md-4" alt="{{ alt }}"> {{ /assets:headline }}
               <h4 class="lead mt-4 px-2">{{ subheadline }}</a></h4>
      </div>
      <div class="col-lg-6 col-md-5 text-center p-0">
<script>
// Random Image Generator https://nicolejeanette.me/javascript-random-image-generator/
// Array with random image links is created. You can add as many links as you want/need.

// Regular Array

var randomImage = new Array();

randomImage[0] = "{{assets:image1}}{{ url }}{{/assets:image1}}";
randomImage[1] = "{{assets:image2}}{{ url }}{{/assets:image2}}";
randomImage[2] = "{{assets:image3}}{{ url }}{{/assets:image3}}";


function getRandomImage() { 
var number = Math.floor(Math.random()*randomImage.length);
document.write('<img src="'+randomImage[number]+'" alt="918 Hair Salon in Morgantown WV" class="img-fluid customer d-block float-right" />');

}
getRandomImage()

</script>
     
      </div>
	</div>
</div>


<section class="py-sm-5 bg-tan">
	<div class="container bg-maroongradient p-sm-5 text-center text-white shadow">
		<div class="row border">
			<div class="col-12">
			
			<div class="py-5 p-lg-5 m-md-5">
			
		<h1 class="mb-0">{{ about_heading }}</h1>
		<h2>{{ about_subheading }}</h2>
		{{ about_description }}
		<a href="{{ button_url }}" class="btn btn-lg btn-light mt-4">{{ button_text }}</a>
	</div></div></div>
	
	</div>
	
</section>

<section class="my-lg-4 py-lg-4">
	<div class="container">
		<div class="row mt-md-4 mt-lg-4">
			<div id="love" class="col-lg-5 p-0">
				{{ assets:love_image }}
				<a href="/stylists"><img src="{{ glide:url }}" class="salonimg img-fluid" alt="{{ alt }}" /></a>
				{{ /assets:love_image }}
			</div>
			<div class="mt-3 mt-lg-0 pt-3 pt-md-0 col-lg-7 align-self-center text-center text-md-left">
				<h2 class="overlapbox maroon">{{ love_heading }} <img src="/assets/img/gold-heart.png" width="75" alt="{{ alt }}" class="my-2"></h2>
				<div class="px-lg-3">
				{{ love_text }}
</div>
				
			</div>
		</div>
	</div>
	</section>

{{ partial:testimonials }}
 
<section class="mt-slider pb-5 border-top bg-tan-stripe">
	<div class="container my-3 p-5">
	<h2 class="text-center maroon">{{ social_heading }}</h2>	
{{ social_wall_script }}
</div>
</section>