{{ partial:pricing }}

<section id="products" class="bg-tan py-md-5">
	<div class="container py-5">
	<div class="row">
	<div class="col-12 text-center">
		<h2 class="mb-0">{{ specials_heading }}</h2>
		<h3 class="mb-4">{{ specials_description }}</h3>
		{{ product_details }}

		{{ assets:feature_product }}
		<img src="{{ glide:url width="1130" }}" alt="{{ alt }}" class="img-fluid mt-3" />
		{{ /assets:feature_product}}
		</div>
	</div></div>
</section>

<section id="faqs" class="border-top">
	<div class="container my-lg-5 py-5">

	<h2 class="text-center">{{ faqs_heading }}</h2>
	<p class="text-center">{{ faqs_description }}</p>
	<div class="container my-5 py-md-0">
		{{ collection:faqs }}
	<div class="offering-box my-4">
		<div class="btn accordion d-flex align-items-center">
			
			<h3 class="m-0">{{ title }} </h3>
		</div>
		<div class="panel">
			<div>
				{{ answer }}
				
			</div>
		</div>
	</div>
	{{ /collection:faqs }}	
	</div></div>
</section>
