<section class="mt-5">
  <div class="site-section">
    <div class="container" data-aos="fade-up">
      <div class="row">
        <div class="text-center mb-5 w-border mx-auto">
          <div class="site-section-heading">
          <h2 class="mb-5 pt-3">{{ owners_heading }}</h2>
          <p>{{ owners_description }}</p>
        </div></div>
        <div class="row">
          {{ collection:stylists taxonomy:tags="owner"}}
          <div class="col-md-6 mb-5">
            <div class="team-member">
              {{ assets:image }} <img src="{{ glide:url width="700" }}" alt="{{ alt }}" class="img-fluid">{{
              /assets:image }}
              <div class="text">
                <h3 class="mb-3 font-weight-light">{{ title }}</h3>
                <span class="d-block mb-0 text-white-opacity-05 text-uppercase font-weight-bold">Specialities</span>
                <p class="mb-4">{{ specialities }}</p>
                <p>
                  {{ if instagram}}
                  <a href="{{ instagram }}" class="text-white p-2" style="font-size: 1.15rem">
                    <span class="fa fa-instagram"></span>
                    {{ instagram_handle }}
                  </a>
                  {{ /if }}
                </p>
              </div>
            </div>
          </div>
          {{ /collection:stylists }}
        </div>
      </div>
      <div class="row mt-5 mb-2">
        <div class="text-center mb-5 w-border mx-auto">
          <div class="site-section-heading"><h2 class="mb-5 pt-4">{{ team_heading }}</h2></div>
          <p>{{ team_description }}</p>
        </div>
      </div>
      <div class="row">
        {{ collection:stylists taxonomy:tags="stylist"}}
        <div class="col-md-6 col-lg-4 mb-5 mb-lg-5">
          <div class="team-member">
            {{ assets:image }} <img src="{{ glide:url width="550" height="550" }}" alt="{{ alt }}" class="img-fluid">{{
            /assets:image }}
            <div class="text">
              <h3 class="mb-3 font-weight-light">{{ title }}</h3>
              <span class="d-block mb-0 text-white-opacity-05 text-uppercase font-weight-bold">Specialities</span>
              <p class="mb-4">{{ specialities }}</p>
              <p>
                {{ if instagram}}
                <a href="{{ instagram }}" class="text-white p-2" style="font-size: 1.15rem">
                  <span class="fa fa-instagram"></span>
                  {{ instagram_handle }}
                </a>
                {{ /if }}
              </p>
            </div>
          </div>
        </div>
        {{ /collection:stylists }}
      </div>
    </div>
  </div>
</section>

{{ partial:testimonials }}
