<section class="mt-5">
	<div class="site-section mb-5">
		<div class="container">
			<h2 class="text-center">Sorry, this page has moved.</h2>
			<hr/>
			<h3 class="text-center my-4">Life is more beautiful when you find the right hairdresser! </h3>
			
			<p class="text-center mb-0 maroon">Please explore our site and give us a call to your book next appointment.</p>
			<h2 class="text-center"><a href="tel:{{ phone }}">{{ phone }}</a></h2>
			<div class="col-md-6 bg-tan mx-auto px-3 py-2 mt-4">
				<div class="text-center">
			<ul class="list-unstyled">
								
								<li class="my-3">
									<a href="/">HOME</a>
								</li>
								<li class="my-3">
									<a href="/services">SERVICES</a>
								</li>
								<li class="my-3">
									<a href="/stylists">STYLISTS</a>
								</li>
								<li class="my-3">
									<a href="/contact">CONTACT</a>
								</li>
								<li class="my-3">
									<a href="/covid19">COVID-19</a>
								</li>
								<li class="my-3">
									<a href="{{ google_review_url }}" target="_blank" rel="noreferrer"><i class="google "></i> REVIEWS</a>
								</li>
							
								<li class="my-3">
								
									<a href="{{ instagram_url }}" rel="noreferrer"><i class="fa fa-instagram"></i> INSTAGRAM</a>
								</li>
								<li class="my-3">
									<a href="{{ facebook_url }}" rel="noreferrer"><i class="fa fa-facebook-official"></i> FACEBOOK</a>
								</li>
								
							</ul>
							
				
</div></div>
			
		</div>
	</div>
</div>
