<!doctype html>
<html lang="en">
  <head>
    <!-- meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{{ meta_description }}">
    <title>{{ meta_title }}</title>
    

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	
	{{ unless segment_1 === "contact" }}
	<!-- 3 Slick CSS Slider files  -->
	<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/> 
	<link rel="stylesheet" href="{{ theme:css src="slick" }}"> 
	<link rel="stylesheet" href="{{ theme:css src="slick-theme" }}"> 
	{{ endif }}
	
	{{ if segment_1 === "contact" }}
	{{ recaptcha:head }}
	{{ endif }}
	
	<link rel="stylesheet" href="{{ theme:css src="salonnew" }}">
	
	{{ partial:favicon }}
	
	<meta property="og:title" content="Salon 918 - Morgantown, WV Salon "/>
	<meta property="og:description" content="Let your hair do the talking. Call to make an appointment. 304.599.3773."/>
	<meta property="og:image" content="/assets/img/918-salon-og-image.jpg"/>
    
    
  {{ head_scripts }}{{ code }}{{ /head_scripts }} 
  </head>
  <body class="section-{{ segment_1 or "home" }}">
   
	<header style="z-index:3;">
  	{{ partial:nav }}
  </header>

	
    {{ template_content }}
	
	
	<footer>
		<div class="container-fluid">
			<div class="row">
			<div class="col-12 mx-auto text-center bg-strip"></div>
		</div>
		</div>
		<div class="container-fluid bg-burgundy text-center text-white py-5 px-3 px-md-0">
			<div class="py-5">
			<h2 class="mb-2">{{ schedule_header }}</h2><h3>Call <a href="tel:{{ phone }}">{{ phone }}</a></h3><img src="/assets/img/gold-heart.png" width="75" alt="{{ alt }}" class="my-2"><p class="serif">{{ schedule_subheading }}</p>
		</div></div>
		<div class="container-fluid footer-glitter">
			<div class="container-fluid footer-glitter"></div>
			<div class="container">
				
			<div class="row pt-5 pb-3">
				<div class="col-lg-7 mb-2 mb-lg-0 align-self-center text-center text-lg-left">
					<a href="/"><img  class="w-75" src="/assets/img/salon-918-circle2.svg" alt="{{ alt }}"></a>
						<div class="ml-lg-5 mt-lg-3">
							
						<!-- <h3 class="mt-4 mb-0 py-0">Salon 918</h3> -->
						<h4 class="my-0 py-0"><a class="maroon" href="tel:{{ phone }}"><i class="fa fa-phone"></i> {{ phone }}</a></h4>
						<p>(formally Toni Exquisite Hair)</p>
						
						<p class="mt-3 mb-0 text-uppercase font-weight-bold "><a href="{{ directions_url }}" target="_blank"><i class="fa fa-map-marker mr-2" aria-hidden="true"></i> Get Directions to Salon 918 </a></p>
						<p class="mt-3 mt-md-0">{{ address }}</p>
						<p><i class="fa fa-gift mr-2" aria-hidden="true"></i> Call to purchase gift cards</p>
						</div>
					</div>
				
				
				
					
					<div class="col-lg-5 col-md-12 py-2">
						<p class="text-uppercase lead text-center mb-0 pb-0">
							Salon Hours
						</p>
						<p class="text-center"><em><small>Hours vary by stylists - please call to confirm</small></em></p>
						<table id="hours" class="table table-vcenter text-center">
							{{ hours }}
							<tr>
								{{ cells }}
								<td>{{ value | markdown }}</td>
								{{ /cells }}
							</tr>
							{{ /hours }}
						</table>
					</div>
				</div>
			
			<div class="row pb-5 mt-2 text-color-black">
						<div class="col-lg-12 pt-lg-5 text-center">
							<ul class="footer-nav list-unstyled list-inline text-uppercase">
								
								<li class="list-inline-item">
									<a href="/">HOME</a>
								</li>
								<li class="list-inline-item">
									<a href="/services">SERVICES &amp; PRICING</a>
								</li>
								<li class="list-inline-item">
									<a href="/stylists">STYLISTS</a>
								</li>
								<li class="list-inline-item">
									<a href="/services#faqs">FAQS</a>
								</li>
								<li class="list-inline-item">
									<a href="/contact">CONTACT</a>
								</li>
								{{ if announcement_visibility }}
								<li class="list-inline-item">
									<a href="/announcement">{{ announcement_navigation_title }}</a>
								</li>{{ endif }}
								<li class="list-inline-item">
									<a href="{{ google_review_url }}" target="_blank" rel="noreferrer"><i class="google "></i> REVIEWS</a>
								</li>
							</ul>
							<ul class="list-unstyled list-inline pl-lg-4 mt-5 mt-md-0">
								<li class="list-inline-item  text-nowrap mr-4">
								
									<a href="{{ instagram_url }}" rel="noreferrer"><i class="fa fa-instagram mr-1"></i> INSTAGRAM</a>
								</li>
								<li class="list-inline-item">
									<a href="{{ facebook_url }}" rel="noreferrer"><i class="fa fa-facebook-official mr-1"></i> FACEBOOK</a>
								</li>
								
							</ul>
							
						</div>
		</div>
		</div>
		</div>
		</div>
		<div class="container-fluid text-white bg-dark my-0 py-3 text-center">
			<div class="d-block d-lg-inline"><small>&copy; Copyright <script>var year = new Date();document.write(year.getFullYear());</script> Salon 918, LLC</small></div>
				<span class="mx-lg-3 d-none d-lg-inline">|</span>
			<div class="d-block d-lg-inline"><small>Web Design by <a href="https://kellybarkhurst.com" target="_blank"></a>Barkhurst Creative LLC</small></div>
		</div>
		
		<!-- Back to the top  -->
		<div class="backtotop">
			<button onclick="scrollStep(); return false" id="totop" title="Go to top"><img src="/assets/img/angle-up-gold-01.svg" alt="Back to Top"><br/><span class="sr-only  sr-only-focusable">Top</span></button>
		</div>

	</footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		{{ unless segment_1 === "contact" }}	<script src="{{ theme:js src="slick.min" }}"></script>
	<script src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script> <!-- Required for Slick Slider, also need jquery --> {{ endif }}
	
	<script src="{{ theme:js }}"></script>  
	
	
	
	
	{{ if segment_1 === "stylists" || segment_1 == "" }}	
		<script>
			// Slick Slider for Testimonials Carousel on Stylist and Home 
			$(document).ready(function(){
				$('.testimonials').slick({
			  	dots: true,
			  	arrows: false,
					infinite: true,
					speed: 500,
					slidesToShow: 1,
					adaptiveHeight: false,
					autoplay: true,
					autoplaySpeed: 8000,
					fade: true,
					cssEase: 'linear',
					responsive: [
    				{
						breakpoint: 992,
      			settings: {
							adaptiveHeight: true,
						}
					}
					]
			});
		});
		</script>
	{{ endif }}
	{{ if segment_1 === "services" }}

			<script>
					// Slick Slider for Hair Gallery on Services
				$('.hair-gallery').each(function(idx, item) {
					var carouselId = "carousel" + idx;
					this.id = carouselId;
					$(this).slick({
						dots : true,
						arrows : false,
						infinite : true,
						speed : 500,
						slidesToShow : 1,
						autoplay : true,
						autoplaySpeed : 4000,
						fade : true
					});
				});
			</script>
			{{ endif }}
	
	{{ footer_scripts }}{{ code }}{{ /footer_scripts }}
		 
  </body>
</html>
