@import url(https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Lato&display=swap);
body {
  font-family: "Lato", sans-serif;
  font-size: 1.2rem;
  line-height: 1.7;
}

body.modal-open {
  overflow: hidden;
}
h1,
h2,
h3,
.h1,
.h2,
.h3 {
  font-family: "Playfair Display", serif;
}
.serif {
  font-family: "Playfair Display", serif;
}
a {
  color: #0c5918;
}
a:hover {
  color: #0c5918;
  text-decoration: underline;
}
hr {
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
  border: 0;
  border-top: 2px solid rgba(227, 196, 168, 0.5);
}
/*** Colors ***/
.black {
  color: #231f20;
}
.bg-gold {
  background-color: #c0a004;
}
.bg-ltgreen {
  background-color:#edf5e1;
}
.bg-tan {
  /*background-color:rgba(227, 196, 168, 0.5);*/
  background-color:#FBF5EF;
  /* background-color: #ecd8c5; */
}
.bg-tan-stripe {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ecd8c5+0,ffffff+100 */
  background: #ecd8c5; /* Old browsers */
  background: -moz-linear-gradient(top, #ecd8c5 0%, #ffffff 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ecd8c5 0%, #ffffff 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    #ecd8c5 0%,
    #ffffff 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ecd8c5', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
.bg-sparkle {
  background-image: url(/assets/img/sparkle-bg.png);
  background-repeat: no-repeat;
}
.bg-tangradient {
  background: rgb(255, 255, 255);
  background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(227, 196, 168, 1) 70%);
}
.d-lg-none-bg-burgundy {
  background-color: #1d5525;
}
.bg-burgundy {
    /* background: rgb(141,199,106);
background: radial-gradient(circle, rgba(141,199,106,1) 0%, rgba(111,157,63,1) 100%); */
background: rgb(74,143,80);
background: radial-gradient(circle, rgba(74,143,80,1) 0%, rgba(31,88,40,1) 89%);
/* background: rgb(141,199,106);
background: radial-gradient(circle, rgba(141,199,106,1) 0%, rgba(100,149,50,1) 100%); */
  /* background: rgb(143,191,147);
background: radial-gradient(circle, rgba(143,191,147,1) 0%, rgba(12,89,24,1) 100%); */
  /* background: rgb(130,157,63);
background: radial-gradient(circle, rgba(130,157,63,1) 0%, rgba(96,112,46,1) 100%); */
  /* background: rgb(116, 33, 49);
  background: radial-gradient(circle, rgba(116, 33, 49, 1) 0%, rgba(88, 38, 48, 1) 100%); */
}
.bg-strip {
  background-image: url(/assets/img/strip.jpg);
  min-height: 150px;
  background-repeat: repeat-x;
  background-size: auto 100%;
  background-position: right;
}
@media (min-width: 768px) {
  .bg-strip {
    min-height: 200px;
  }
}
.maroon {
  color: #38741e;
}
.bg-burgundy a,
.bg-maroongradient a {
  /* color:#fbf1a9; */
  color:#feffd0;
  /* color: rgba(227, 196, 168, 1); */
}

.bg-maroongradient {
  background: rgb(74,143,80);
background: radial-gradient(circle, rgba(74,143,80,1) 0%, rgba(31,88,40,1) 89%);
  /* background: rgb(74,143,80);
background: radial-gradient(circle, rgba(74,143,80,1) 0%, rgba(39,105,49,1) 89%); */
  /* background: rgb(123,159,121);
background: radial-gradient(circle, rgba(123,159,121,1) 0%, rgba(27,52,30,1) 89%); */
  /* background: rgb(115,145,116);
background: radial-gradient(circle, rgba(115,145,116,1) 0%, rgba(38,66,42,1) 89%); */
  /* background: rgb(141,199,106);
background: radial-gradient(circle, rgba(141,199,106,1) 0%, rgba(56,116,30,1) 89%); */
  /* background: rgb(141,199,106);
background: radial-gradient(circle, rgba(141,199,106,1) 0%, rgba(111,157,63,1) 100%); */
/* background: rgb(141,199,106);
background: radial-gradient(circle, rgba(141,199,106,1) 0%, rgba(100,149,50,1) 100%); */
  /* background: rgb(143,191,147);
background: radial-gradient(circle, rgba(143,191,147,1) 0%, rgba(12,89,24,1) 100%); */
  /* background: rgb(130,157,63);
background: radial-gradient(circle, rgba(130,157,63,1) 0%, rgba(96,112,46,1) 100%); */
}
.text-color-black,
.text-color-black a {
  color:#000000;
}
.text-color-black a:hover {
  color:#26582d;
}
.bg-dark {
  background-color: #143b19 !important;
}
.gold {
  color: #c0a004;
}
/*** Buttons ***/
/*.btn-glitter {
	background-image:url(/assets/img/button-bg.jpg);
	background-size:contain;
	border:0px solid;
	color:#000 !important;
}*/
.btn-gold {
  background-color: #c0a004 !important;
}
.btn-gold:hover {
  background-color: #582630 !important;
  color: #fff;
}
.btn-light {
  color: #231f20 !important;
}
.btn-light:hover {
  background-color: #c0a004 !important;
  border: 1px solid #c0a004 !important;
  color: #fff !important;
}
/*** Home page ****/
.homepagebg-image {
  overflow-x: hidden;
}
@media (max-width: 991px) {
  #love {
    max-height: 375px;
    overflow: hidden;
  }
}
.page-holder {
  min-height: calc(100% - 130px);
}
.homepagebg-image {
  background-image: url(/assets/img/homepage-918-bg-mobile.jpg);
}
.homepagebg-image h4 {
  font-size: 1.25rem;
  line-height: 1.6;
  font-weight: bold;
}
.homepagebg-image h4 a {
  font-size: 1.5rem;
}
.shadow {
  -webkit-box-shadow: 6px 4px 13px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 4px 13px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 6px 4px 13px -6px rgba(0, 0, 0, 0.75);
}
.bg-cover {
  background-size: cover !important;
  background-position: center;
}
.masthead {
  /***Reference https://startbootstrap.com/snippets/full-image-header/ ****/
  height: 100vh;
  min-height: 500px;
  max-height: 850px;
  background-image: url("/assets/img/homepage-918-bg-mobile.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-width: 768px) {
  .homepagebg-image {
    background-image: url(/assets/img/homepage-918-salon-bg2.jpg);
}
}
@media (min-width: 992px) {
  h2.overlapbox {
    background-color: #fff;
    padding: 3%;
    margin-left: -75px;
    display: block;
  }
}
.home {
  max-height: 850px;
}
.customer {
  max-height: 500px;
  clear: both;
}

/* .masthead .hairtext {
} */
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
  .container.home {
    max-height: 1400px;
    display: block;
  }
}
@media screen and (min-width: 992px) {
  .masthead {
    /***Reference https://startbootstrap.com/snippets/full-image-header/ ****/
    height: 100vh;
    min-height: 500px;
    max-height: 900px;
    background-image: url("/assets/img/homepage-tonis-bg.jpg");
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
  }
  .masthead .hairtext {
    margin-top: -20%;
  }
  .customer {
    max-height: 900px !important;
  }
}

.homebg {
  background: url("/assets/img/homepage-tonis-idea.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  min-height: 900px;
  width: 100%;
  height: 100%;
  margin: 0;
}

/****Front page Section****/
.flexible-widgets {
  width: 100%;
}
.flexible-widgets .wrap {
  max-width: 1100px;
  padding: 8% 0 4%;
}
.wrap {
  margin: 0 auto;
  max-width: 1100px;
}
.author-box::before,
.clearfix::before,
.entry::before,
.entry-content::before,
.footer-widgets::before,
.nav-primary::before,
.nav-secondary::before,
.pagination::before,
.site-container::before,
.site-footer::before,
.site-header::before,
.site-inner::before,
.widget::before,
.wrap::before {
  content: " ";
  display: table;
}
.flexible-widgets.widget-halves .widget:nth-of-type(2n + 1) {
  margin-right: 0;
  clear: right;
}
.flexible-widgets.widget-uneven .widget:nth-of-type(6n + 1),
.widget-area.flexible-widgets .widget:first-of-type {
  clear: both;
  margin-right: 0;
  width: 100%;
}
.widget-area.flexible-widgets .widget {
  float: left;
  margin-bottom: 4%;
  vertical-align: top;
  padding: 0 2% 0%;
}
.widget {
  position: relative;
}
.flexible-widgets.widget-halves .widget {
  width: 50%;
}
.widget::before,
.wrap::before {
  content: " ";
  display: table;
}
/*** Typography ****/
h2.custom {
  margin-bottom: 28px;
  margin-left: -100px;
  margin-top: 40px;
  background: #ffffff;
  padding: 30px;
  max-width: 80%;
  text-align: left;
}
h1 {
  font-size: 2.9rem;
  line-height: 1;
}
h2 {
  font-size: 2.5rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 1.5px;
  line-height: 1.25;
  margin-bottom: 1.6rem;
}
.btn {
  border-radius: 0;
}
.bg-cream {
  background-color: #efeeea;
}
/**** Services Menu *****/
.color,
.hair-cuts,
.blowdry,
.formal,
.other,
.perms,
.waxing {
  -webkit-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
  transition: 0.5s all ease;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.color:hover,
.hair-cuts:hover,
.blowdry:hover,
.formal:hover,
.other:hover,
.perms:hover,
.waxing:hover {
  -webkit-transform: scale(1.02);
  -ms-transform: scale(1.02);
  transform: scale(1.02);
}

.item-catalogue-price {
  margin-left: auto;
  text-transform: lowercase;
  padding-left: 5px;
  -webkit-box-ordinal-group: 4;
  -webkit-order: 3;
  -ms-flex-order: 3;
  order: 3;
  display: inline-block;
}
.item-catalogue-title {
  font-size: 20px;
  text-transform: uppercase;

  margin-bottom: 10px;
  line-height: normal;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.item-catalogue-title::after {
  content: "";
  border-bottom: 1px solid #e5e5e5;
  width: auto; /*This keeps 2nd line from showing a line*/
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  position: relative;
  top: -6px;
  margin-left: 8px;
  margin-right: 5px;
  opacity: 0.6;
}
/*** Team Member ***/
.site-section-heading {
  background-image: url(/assets/img/hairswoop.svg);
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 100px;
  background-position: center 0;
  /* background-image: url(/assets/img/hairswoop.svg);
  background-repeat: no-repeat;
  background-size: auto 200px;
  min-height: 200px; */
}
.team-member {
  position: relative;
  float: left;
  width: 100%;
  overflow: hidden;
}
.team-member img {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.team-member:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(227, 196, 168, 0.8);
  z-index: 2;
  height: 100%;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.team-member .text {
  top: 50%;
  text-align: center;
  position: absolute;
  padding: 20px;
  -webkit-transform: translateY(-30%);
  -ms-transform: translateY(-30%);
  transform: translateY(-30%);
  -webkit-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
  transition: 0.5s all ease;
  opacity: 0;
  visibility: hidden;
  width: 100%;
}
.team-member:hover:before,
.team-member:focus:before,
.team-member:active:before {
  opacity: 1;
  visibility: visible;
}
.team-member:hover img,
.team-member:focus img,
.team-member:active img {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.team-member:hover .text,
.team-member:focus .text,
.team-member:active .text {
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
  opacity: 1;
  visibility: visible;
  z-index: 4;
}

/***** MENU *******/
header * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  z-index: 1;
}

header {
  height: 115px;
  width: 100%;
  position: relative;
  background: rgb(255,255,255);
background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(251,241,230,1) 100%);
  /* background: rgb(255,255,255);
background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(251,245,239,1) 100%); */
  /* background-color: #FBF5EF; */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
}
.logo918 {
  width: 200px;
  display: block;
  margin: 0 auto;
  padding-top: 15px;
}
.logo918-full {
  width: 285px;
  display: block;
  margin: 0 auto;
  padding-top: 5px;
}
.menu {
  position: absolute;
  top: 35px;
  left: 20px;
}
.head {
  position: absolute;
  top: 35px;
  right: 20px;
}
@media screen and (min-width: 992px) {
  .head {
    right: 50px;
  }
  header {
    height: 135px;
  }
  .menu {
    left: 50px;
  }
  h1 {
    font-size: 3.75rem;
    line-height: 1;
  }
}
.head .tile {
  display: inline-block;
  height: 50px;
  width: 50px;
  margin-left: 15px;
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
}
.head .tile.socialmedia {
  color: #231f20;
  font-size: 50px;
  text-align: center;
  line-height: 50px;
  position: relative;
  top: -6px;
  float: left;
}
.head .tile.socialmedia:hover {
  color: #c0a004;
}
header.clicked .head .tile.socialmedia,
header.clicked .menu {
  color: white;
  z-index: 2;
}
.head .burger {
  margin-left: 25px;
  padding: 5px;
  cursor: pointer;
  background-color: transparent;
}
.meat {
  height: 40px;
  width: 40px;
  position: relative;
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
}
header.clicked .head .burger .meat {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}
.meat .line {
  height: 4px;
  width: 40px;
  background-color: #0b253e;
  border-radius: 3px;
  position: absolute;
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
}
.meat .line.one {
  top: 5px;
  left: 0px;
}
.meat .line.two {
  top: 18px;
  left: 0px;
}
.meat .line.three {
  top: 31px;
  left: 0px;
}

header.clicked .burger .line {
  background-color: white;
}
header.clicked .burger .line.one {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  top: 18px;
}
header.clicked .burger .line.two {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  top: 18px;
}
header.clicked .burger .line.three {
  opacity: 0;
}
header.clicked .burger:hover .meat {
  transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
}

.nav-modal {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  pointer-events: none;
}
.nav-modal nav a:hover {
  color: rgba(255, 255, 255, 0.5);
}
header.clicked .nav-modal {
  visibility: visible;
  opacity: 1;
  pointer-events: initial;
}

.nav-modal .blob {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  margin: 0 auto;
  background-color: #26582d;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transition: all 0.3s ease-in;
}
header.clicked .nav-modal .blob {
  width: 100vw;
  height: 100vh;
  border-radius: 0px;
}

.blob nav {
  /*position: fixed;
    left: 50%;
    top: 50%;*/
  padding-top: 15%;
  margin-left: auto;
  margin-right: auto;
  color: white;
}
nav a {
  color: white;
  text-decoration: none;
  font-size: 2rem;
}
nav ul li {
  list-style: none;
  text-align: center;
  padding-bottom: 10px;
  padding-right: 10px;
  position: relative;
}
nav ul li.sub a {
  font-size: 1.3rem;
}
nav {
  opacity: 0;
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -webkit-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
header.clicked nav {
  opacity: 1;
}

nav ul li ul {
  position: absolute;
  right: -300px;
  top: -4px;
  display: none;
}
nav ul li ul li {
  border: none;
  padding-bottom: 10;
  padding-left: 10px;
  height: 50px;
  width: 300px;
}
nav ul li ul li a {
  display: block;
  height: 50px;
  font-size: 20px;
  text-align: left;
  padding: 10px;
}
nav ul li.selected ul {
  display: block;
}

nav ul li.notselected a {
  opacity: 0.5;
}
nav ul li.selected ul li a {
  opacity: 1;
}

@media screen and (max-width: 400px) {
  .logo918 {
    width: 200px;
    padding-top: 30px;
  }
}
@media screen and (max-width: 580px) {
  /* .logo918 {
    width: 130px;
    padding-top: 30px;
  } */
  .blob nav {
    padding-top: 20%;
  }
  nav a {
    font-size: 1.5rem;
  }
  nav ul li ul {
    top: -9px;
  }
  nav ul li ul li {
    height: 40px;
  }
  nav ul li ul li a {
    /*font-size: 16px;*/
    height: 40px;
  }
}
@media screen and (max-width: 500px) {
}
@media screen and (max-width: 320px) {
}

/*** Testimonials ***/
/* .testimonial-section {
  to keep from jumping
  min-height:400px !important; 
} */
.mt-slider {
  margin-top: 6rem !important;
}
blockquote p {
  font-style: italic;
  font-size: 1.5rem;
  font-family: "Playfair Display", serif;
}
.testimonials {
  /*border:2px solid #EFEEEA;*/
  border-top: 2px solid rgba(227, 196, 168, 0.5);
}
.testimonials cite {
  font-style: normal;
  text-align: center;
}

/**** Contact Form *****/
.honeypot {
  display: none;
}

/**** FAQs Accordion******/
.offering-box {
  /* border: 1px solid rgba(227, 196, 168, 0.5); */
  border: 1px solid #d6e2c3;
}
.accordion {
  cursor: pointer;
  padding: 10px 20px 10px 20px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  transition: 0.4s;
}
@media screen and (min-width: 600px) {
  /* .accordion {
    /*padding: 15px 35px;
  } */
  .accordion h3 {
    font-size: 1.5rem;
  }
  .panel {
    padding: 0 35px;
  }
}
.accordion:hover {
  background-color:#edf5e1;
  /* background-color: rgba(227, 196, 168, 0.5); */
}
.accordion.active {
  background-color: #fff;
}

.accordion:after {
  content: "\f107";
  font-family: "FontAwesome";
  color: #000;
  font-weight: bold;
  float: right;
  margin-left: 10px;
  font-size: 2.5rem;
}

.accordion h3 {
  display: inline-block;
  font-size: 1.3rem;
  width: 100%;
  overflow-wrap: break-word;
  white-space: pre-line;
}
.accordion.active:after {
  content: "\f106";
  font-family: "FontAwesome";
  font-size: 2.5rem;
  color: #000;
}

.panel {
  padding: 0 20px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.panel div {
  padding-bottom: 35px;
}
/**** Services *****/
p.details {
  /*font-style:italic;*/
  font-size: 90%;
  line-height: 1.4;
  margin: 5px 0 20px;
}
@media screen and (min-width: 992px) {
  .d-lg-none-bg-burgundy {
    background: none;
  }
  .hair-cuts,
  .blowdry {
    position: relative;
    left: 2rem;
    margin-top: 3.5rem;
    height: 100%;
    z-index: 1;
  }
  .waxing,
  .other {
    position: relative;
    left: 2rem;
    margin-top: 1.75rem;
    height: 100%;
    z-index: 1;
  }
  .color,
  .perms {
    position: relative;
    left: -2rem;
    margin-top: 4.5rem;
    height: 100%;
    z-index: 1;
  }
  .formal {
    position: relative;
    left: -2rem;
    margin-top: 3rem;
    height: 100%;
    z-index: 1;
  }
}
/*** Contact ****/
.salonimg {
  -moz-box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.75);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 250px;
}
@media (min-width: 768px) {
  .salonimg {
    background-size: cover;
    min-height: 500px;
  }
}
/**** Responsive Map ****/
.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}
.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
.map-border {
  border: 6px solid #fff;
  -webkit-box-shadow: 6px 4px 13px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 4px 13px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 6px 4px 13px -6px rgba(0, 0, 0, 0.75);
}
/***************** 
FOOTER***********/
footer small {
  font-size:0.85rem;
}
.footer-nav li {
  margin: 0.5rem;
}
@media (min-width: 768px) {
  .footer-nav li {
    margin: 0rem;
  }
}
.footer-glitter {
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,1) 19%, rgba(251,245,239,1) 61%, rgba(254,230,205,0.9430147058823529) 100%);
}
@media (min-width: 768px) {
  .footer-glitter {
    background: rgb(255,255,255);
background: radial-gradient(circle, rgba(255,255,255,1) 19%, rgba(251,245,239,1) 61%, rgba(254,230,205,0.9430147058823529) 100%);
  /* background-image:
  /* url('/assets/img/footer-glitter.png'), 
radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(251,241,230,1) 100%); */
  background-size:contain;
  background-repeat: no-repeat;
  background-position:center top;
  }
}
#contacthours td,
#contacthours th {
  padding: 1.25rem;
  vertical-align: top;
  border-top: 2px solid rgba(227, 196, 168, 1);
}
#contacthours td p {
  margin: 0px;
}
#hours td,
#hours th {
  padding: 0.85rem;
  vertical-align: top;
  border-top: 2px solid rgba(227, 196, 168, 1);
}
#hours td p {
  margin: 0px;
}
@media (min-width: 768px) {
  #contacthours td,
  #contacthours th {
    padding: 0.85rem;
  }
  #contacthours td p {
    margin: 0.5rem;
  }
}

/******** Back to Top ******/
/*** Add BacktoTop button ******/
#totop {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 30px;
  left: 40px;
  width: 55px;
  height: 55px;
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background:#26582d;
  /* background: rgba(34, 31, 32, 1); Set background color and transparency */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  /* padding: 1%;  */
  border-radius: 0px; /* Rounded corners */
  text-transform: uppercase;
  -moz-transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  -webkit-box-shadow: 6px 4px 13px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 4px 13px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 6px 4px 13px -6px rgba(0, 0, 0, 0.75);
}
#totop:hover,
#totop:visited {
  background: #000000; /* Make background transparent */
  color: #fff;
  transition: opacity 0.4s ease-in-out, background 0.4s ease-in-out;
}
@media (max-width: 768px) {
  #totop {
    left: 20px;
    bottom: 20px;
  }
}
