<link rel="apple-touch-icon-precomposed" sizes="57x57" href="https://www.tonishair.com/apple-touch-icon-57x57.png" />
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="https://www.tonishair.com/apple-touch-icon-114x114.png" />
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="https://www.tonishair.com/apple-touch-icon-72x72.png" />
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://www.tonishair.com/apple-touch-icon-144x144.png" />
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="https://www.tonishair.com/apple-touch-icon-120x120.png" />
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="https://www.tonishair.com/apple-touch-icon-152x152.png" />
<link rel="icon" type="image/png" href="https://www.tonishair.com/favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="https://www.tonishair.com/favicon-16x16.png" sizes="16x16" />
<meta name="application-name" content="Toni Exquisite Hair"/>
<meta name="msapplication-TileColor" content="#FFFFFF" />
<meta name="msapplication-TileImage" content="https://www.tonishair.com/mstile-144x144.png" />