<div class="tile burger">
  <div class="menu">
    <div class="meat">
      <div class="line one"></div>
      <div class="line two"></div>
      <div class="line three"></div>
    </div>
  </div>
</div>
<a href="/">
  <img class="logo918 d-lg-none" src="/assets/img/918-salon.svg" alt="{{ alt }}" />
  <img class="logo918-full d-none d-lg-block" src="/assets/img/918-salon.svg" alt="{{ alt }}" />
</a>
<div class="nav-modal">
  <div class="blob">
    <nav>
      <ul>
        <li><a href="/">HOME</a></li>
        <li><a href="/services">SERVICES &amp; PRICING</a></li>
        <li><a href="/stylists">STYLISTS</a></li>
        <li><a href="/services#faqs">FAQS</a></li>
        <li class="mb-5"><a href="/contact">CONTACT</a></li>
        <li class="sub"><a href="{{ directions_url }}">Directions</a></li>
        {{ if announcement_visibility }}
        <li class="sub"><a href="/announcement">{{ announcement_navigation_title }}</a></li>
        {{ /if}}
      </ul>
    </nav>
  </div>
</div>
<div class="head">
  <a href="{{ facebook_url }}" class="tile socialmedia d-none d-md-block" target="_blank">
    <i class="fa fa-facebook-official"></i>
  </a>
  <a href="{{ instagram_url }}" class="tile socialmedia d-none d-md-block" target="_blank">
    <i class="fa fa-instagram"></i>
  </a>
  <a href="tel:{{ phone }}" class="tile socialmedia" title="Call Salon"><i class="fa fa-phone"></i></a>
</div>
