<section class="mt-3 pt-3 mt-lg-5 pt-lg-5" style="background-image:url('/assets/img/bg-repeat.png');">
	
	<div class="container">
		<div class="row">
			<div class="col-11 col-md-10 mx-auto">
			<h1 class="text-center">{{ page_heading }}</h1>
			<h2 class="h3 mb-3">{{ page_subheading }}</h2>
			<p><strong>{{ page_description }}</strong> </p>
		</div>
	</div>
		</div>
		
		
		<div class="container-fluid d-lg-none-bg-burgundy mt-4 py-4">
		
		<!-- Haircuts -->
	<div id="cuts" class="container my-lg-5">
		
	<div class="row my-lg-4 py-lg-4 mt-3 d-flex justify-content-center">
			{{ collection:services-and-pricing scope="post" taxonomy:tags="hair-cuts" }}
			<div class="col-lg-7 col-11 bg-burgundy text-white p-2 p-md-5 {{ slug }}">
				<h3>{{ post:title }}</h3>
				{{ serviceprice }}
						<div class="item-catalogue my-4 my-md-2">
							<p class="item-catalogue-title {{ if details }}mb-0{{ /if }}">
								{{ service }} <span class="item-catalogue-price">{{ price }}</span>
							</p>
							{{ if details }}<p class="details">{{ details }}</p>{{ /if }}
						</div>
						{{ /serviceprice }}
			</div>
			<div class="col-lg-5 d-none d-lg-block">
				<div class="hair-gallery">
					{{ assets:images }}
				<img src="{{ glide:url height="450" width="450"}}" alt="{{ alt }}" class="img-fluid" />
				{{ /assets:images }}
				</div>
				
				{{ /collection:services-and-pricing }}
			</div>
		</div>
	</div>
	
	
	
	<!-- Color -->
	<div id="color" class="container my-lg-5">
	<div class="row my-lg-4 py-lg-4 mt-3 d-flex justify-content-center">
		
			{{ collection:services-and-pricing scope="post" taxonomy:tags="color" }}
			<div class="col-lg-5 d-none d-lg-block">
				<div class="hair-gallery">
					{{ assets:images }}
				<img src="{{ glide:url height="450" width="450"}}" alt="{{ alt }}" class="img-fluid" />
				{{ /assets:images }}</div>
			</div>
			
			<div class="col-lg-7 col-11 bg-burgundy text-white p-md-5 {{ slug }}">
				
					<h3>{{ post:title }}</h3>
				{{ serviceprice }}
						<div class="item-catalogue my-4 my-md-2">
							<p class="item-catalogue-title {{ if details }}mb-0{{ /if }}">
								{{ service }} <span class="item-catalogue-price">{{ price }}</span>
							</p>
							{{ if details }}<p class="details">{{ details }}</p>{{ /if }}
						</div>
						{{ /serviceprice }}
			</div>{{ /collection:services-and-pricing }}
			
		
	</div>
	</div>
	
	<!-- Blow Drys -->
	<div id="blowdry" class="container mt-lg-5">
		<div class="row my-lg-4 py-lg-4 mt-3 d-flex justify-content-center">
				{{ collection:services-and-pricing scope="post" taxonomy:tags="blowdry" }}
				<div class="col-lg-7 col-11 bg-burgundy text-white py-3 p-md-5 {{ slug }}">
						<h3>{{ post:title }}</h3>
					{{ serviceprice }}
							<div class="item-catalogue my-4 my-md-2">
								<p class="item-catalogue-title {{ if details }}mb-0{{ /if }}">
									{{ service }} <span class="item-catalogue-price">{{ price }}</span>
								</p>
								{{ if details }}<p class="details">{{ details }}</p>{{ /if }}
							</div>
							{{ /serviceprice }}
				</div>
				<div class="col-md-5 d-none d-lg-block">
					<div class="hair-gallery">{{ assets:images }}
					<img src="{{ glide:url height="450" width="450"}}" alt="{{ alt }}" class="img-fluid" />
					{{ /assets:images }}</div>{{ /collection:services-and-pricing }}
				</div>
		</div></div>
	
	
	<!-- Formal -->
	<div id="formal" class="container my-lg-5">
		<div class="row my-lg-4 py-lg-4 mt-3 d-flex justify-content-center">
			
				{{ collection:services-and-pricing scope="post" taxonomy:tags="formal" }}
				<div class="col-lg-5 d-none d-lg-block">
					<div class="hair-gallery">
						{{ assets:images }}
					<img src="{{ glide:url height="450" width="450"}}" alt="{{ alt }}" class="img-fluid" />
					{{ /assets:images }}</div>
				</div>
				
				<div class="col-lg-7 col-11 bg-burgundy text-white p-md-5 {{ slug }}">
					
						<h3>{{ post:title }}</h3>
					{{ serviceprice }}
							<div class="item-catalogue my-4 my-md-2">
								<p class="item-catalogue-title {{ if details }}mb-0{{ /if }}">
									{{ service }} <span class="item-catalogue-price">{{ price }}</span>
								</p>
								{{ if details }}<p class="details">{{ details }}</p>{{ /if }}
							</div>
							{{ /serviceprice }}
				</div>{{ /collection:services-and-pricing }}
				
			
		</div>
		</div>
	
	
	
	<!-- Other Services -->
	<div id="other" class="container mt-lg-5">
	<div class="row my-lg-4 py-lg-4 mt-3 d-flex justify-content-center">
	
		
			{{ collection:services-and-pricing scope="post" taxonomy:tags="other" }}
			<div class="col-lg-7 col-11 bg-burgundy text-white py-3 p-md-5 {{ slug }}">
					<h3>{{ post:title }}</h3>
				{{ serviceprice }}
						<div class="item-catalogue my-4 my-md-2">
							<p class="item-catalogue-title {{ if details }}mb-0{{ /if }}">
								{{ service }} <span class="item-catalogue-price">{{ price }}</span>
							</p>
							{{ if details }}<p class="details">{{ details }}</p>{{ /if }}
						</div>
						{{ /serviceprice }}
			</div>
			<div class="col-md-5 d-none d-lg-block">
				<div class="hair-gallery">{{ assets:images }}
				<img src="{{ glide:url height="450" width="450"}}" alt="{{ alt }}" class="img-fluid" />
				{{ /assets:images }}</div>{{ /collection:services-and-pricing }}
			</div>
		
	</div></div>
	
	
	
	<!-- Perms -->
	<div id="perms" class="container my-lg-5">
	<div class="row my-lg-4 py-lg-4 mt-3 d-flex justify-content-center">
	
		
			{{ collection:services-and-pricing scope="post" taxonomy:tags="perms" }}
			<div class="col-md-5 d-none d-lg-block">
				<div class="hair-gallery">{{ assets:images }}
				<img src="{{ glide:url height="450" width="450"}}" alt="{{ alt }}" class="img-fluid" />
				{{ /assets:images }}</div>
			</div>
			
			<div class="col-lg-7 col-11 bg-burgundy text-white py-3 p-md-5 {{ slug }}">
				<h3>{{ post:title }}</h3>
				{{ serviceprice }}
						<div class="item-catalogue my-4 my-md-2">
							<p class="item-catalogue-title {{ if details }}mb-0{{ /if }}">
								{{ service }} <span class="item-catalogue-price">{{ price }}</span>
							</p>
							{{ if details }}<p class="details">{{ details }}</p>{{ /if }}
						</div>
						{{ /serviceprice }}
			</div>{{ /collection:services-and-pricing }}
		
	</div>
	</div>
	
	<!-- Waxing and Microblading -->
	<div id="microblading" class="container mt-lg-5">
		<div class="row my-lg-4 py-lg-4 mt-3 d-flex justify-content-center">
		
			
				{{ collection:services-and-pricing scope="post" taxonomy:tags="waxing" }}
				<div class="col-lg-7 col-11 bg-burgundy text-white py-3 p-md-5 {{ slug }}">
						<h3>{{ post:title }}</h3>
					{{ serviceprice }}
							<div class="item-catalogue my-4 my-md-2">
								<p class="item-catalogue-title {{ if details }}mb-0{{ /if }}">
									{{ service }} <span class="item-catalogue-price">{{ price }}</span>
								</p>
								{{ if details }}<p class="details">{{ details }}</p>{{ /if }}
							</div>
							{{ /serviceprice }}
				</div>
				<div class="col-md-5 d-none d-lg-block">
					<div class="hair-gallery">{{ assets:images }}
					<img src="{{ glide:url height="450" width="450"}}" alt="{{ alt }}" class="img-fluid" />
					{{ /assets:images }}</div>{{ /collection:services-and-pricing }}
				</div>
			
		</div></div>




</div>	<!-- End of Maroon --> 
	
</section>