{{ if slug == "stylists"}}
<section class="my-md-3 py-4">
	<div class="text-center mb-5 w-border mx-auto">
		<div class="site-section-heading">
<h2 class="mb-3 pt-4">{{ testimonials_heading }}</h2></div>
<p>{{ testimonials_description }}</p>
</div>
<div class="container testimonial-section">
<div class="testimonials">
	
	{{ collection:testimonials taxonomy:tags="stylist" }}
<div class="testimonial pt-3 px-5 my-md-3 py-4">
<blockquote class="text-center">
<p>{{ quote }}</p>
<cite><a href="{{ link }}" target="_blank">{{ credit }}</a>
</cite>
</blockquote>
</div>
{{ /collection:testimonials }}

</div></div>
</section>
{{ /if }}


{{ if ! segment_1 }}
<section class="mt-4 mt-md-5 pt-md-4">
	<div class=" text-center my-5 w-border col-md-6 mx-auto">
<div class="site-section-heading pt-4"><h2 class="mb-3 py-0">{{ testimonials_heading }}</h2></div>
{{ testimonials_description }}
</div>
<div class="container testimonial-section">
<div class="testimonials">
	
	{{ collection:testimonials taxonomy:tags="general" }}
<div class="testimonial p-5">
<blockquote class="text-center">
<p>{{ quote }}</p>
<cite><a href="{{ link }}" target="_blank">{{ credit }}</a>
</cite>
</blockquote>
</div>
{{ /collection:testimonials }}

</div></div>
</section>
{{ /if }}